@use "abstracts" as *;

.panel {
  display: flex;
  flex-direction: column;
  gap: $space-3;
}

.title {
  @include text-style("label-md");

  color: $color-text-secondary;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $space-2;
}

.item,
.neutral {
  @include text-style("body-sm");

  position: relative;
  padding-left: $space-4;

  &::before {
    content: "•";
    position: absolute;
    left: 0;
  }
}

.item {
  color: $color-text-secondary;

  &::before {
    color: $color-blue-300;
  }
}

.neutral {
  color: $color-text-muted;

  &::before {
    color: $color-text-muted;
  }
}
