@use "../abstracts" as *;

.page-shell {
  width: min(100%, 1280px);
  margin-inline: auto;
  padding-inline: $space-4;

  @include respond-to($breakpoint-md) {
    padding-inline: $space-6;
  }

  @include respond-to($breakpoint-lg) {
    padding-inline: $space-8;
  }
}
